.menu-list {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  row-gap: 20px;

  &:nth-child(n) {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }
}
