<div class="app-main">
  <div #progressCards class="container">
    <div class="container__content">
      <div class="container__bio">
        <p class="container__title fs-20">
          Hello,<span class="white">I`am Sehdev</span>
        </p>
        <p class="container__des fs-14">I`am a UI Developer...</p>
      </div>
    </div>
    <div class="container__profile">
      <img src="assets/images/profile1.png" />
    </div>
  </div>

  <div class="progress-cards">
    <div
      [class.Invisiblity]="shouldVisible"
      [class.visiblity]="!shouldVisible"
      class="card"
    >
      <div class="card-body">
        <h5 class="card-title">JavaScript</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div
      [class.Invisiblity]="shouldVisible"
      [class.visiblity]="!shouldVisible"
      class="card"
    >
      <div class="card-body">
        <h5 class="card-title">TypeScript</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div
      [class.Invisiblity]="shouldVisible"
      [class.visiblity]="!shouldVisible"
      class="card"
    >
      <div class="card-body">
        <h5 class="card-title">Angular</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div
      [class.Invisiblity]="shouldVisible"
      [class.visiblity]="!shouldVisible"
      class="card"
    >
      <div class="card-body">
        <h5 class="card-title">D3js</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div
      [class.Invisiblity]="shouldVisible"
      [class.visiblity]="!shouldVisible"
      class="card"
    >
      <div class="card-body">
        <h5 class="card-title">HTML5</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div
      [class.Invisiblity]="shouldVisible"
      [class.visiblity]="!shouldVisible"
      class="card"
    >
      <div class="card-body">
        <h5 class="card-title">SCSS/CSS</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="bottom-glass-container"></div>
</div>
