<div class="app-bg hp-100 wp-100 mt-50" style="padding: 25px 50px">
  <div class="row justify-content-end">
    <div class="offset-md-6"></div>
    <div class="col-md-2">
      <button class="publish-button" role="button">Publish</button>
    </div>
    <div class="offset-md-3"></div>
  </div>

  <div class="row justify-content-center">
    <div class="offset-md-2"></div>
    <div class="col-md-8">
      <mat-form-field [@inputAnimation]="inputState" [appearance]="'outline'">
        <mat-label>Story Title</mat-label>
        <input
          matInput
          [(ngModel)]="inputText"
          (focus)="onFocus()"
          (blur)="onBlur()"
        />
      </mat-form-field>
    </div>
    <div class="offset-md-2"></div>
  </div>

  <div class="row justify-content-center">
    <div class="offset-md-2"></div>
    <div class="col-md-8">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-start gap-3">
          <img src="assets/images/edit_option.svg" style="width: fit-content" (click)="isToolbarVisible = !isToolbarVisible" />
          <img src="assets/images/file-selection.svg" class="w-30 cp" (click)="chooseFile?.click()"/>
          <input #chooseFile class="dis-nn" type="file" name="file" accept="image/*"
              (change)="handleInputChange($event)">
        </div>
        <app-text-editor
        class="mt-10"
          [isToolbarVisible]="isToolbarVisible"

          [selectedImage]="imageSelected"
        ></app-text-editor>
      </div>
    </div>
    <div class="offset-md-2"></div>
  </div>
</div>
